<div class="card border-success" style="max-width: 40rem;">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4"><a>License</a> </div>
            <div class="col-md-8">
                <form (ngSubmit)="getLicense()" #form="ngForm">
                    <input type="text" name="shortName" id="shortName" [(ngModel)]="shortName" [ngModelOptions]="{standalone: true}">
                    <button class="btn btn-primary ml-2" type="submit">Fetch License</button>
                </form>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!fetchData">
        <ng-container *ngIf="license">
            <div class="card-body">
                <p class="card-text"> <a>License ID:</a> {{license.id}}</p>
                <p class="card-text"> <a>License shortName:</a> {{license.shortName}}</p>
                <p class="card-text"> <a>License FullName:</a> {{license.fullName}}</p>
                <p class="card-text"> <a>License Risk:</a> {{license.risk}}</p>
                <a>License Text:</a>
                <ng-container *ngFor="let item of license.licenseArrayList">
                    <p>{{item}}</p>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="fetchData && !errorFlag">
        <div class="row text-center">
            <div class="col">
                <app-loading-spinner></app-loading-spinner>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="errorFlag">
        <app-error-card [errorFlag]="errorFlag" [errorMessage]="errorMessage"></app-error-card>
    </ng-container>
</div>